@tailwind base;
@tailwind components;
@tailwind utilities;


/* colors
cinza escuro: #262625
cinzalight :#A6A6A6
terra: #BF9663
terracota: #BF8F65
whitelight:#F2F2F2
*/

body{
  background-color: #F2F2F2;
}

*{
  color: #262625;
  font-family:serif sans-serif;
  font-size: 18px;
}
  
input{
  background: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 14px;
  width: 100%;
}

.container-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.background-button{
  background-color: #A6A6A6;
  color: #89acde;
}

button, [type='submit']{
  border-radius: 40px;
  background-color: #A6A6A6;
  height: px;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

a{
  margin-top: 40px;
}

h1{
  font-family: sans-serif;
  font-size: 60px;
}

a:hover{
  text-decoration: underline;
}

.carouselAltura{
  height: 290px;
}

.containerCard{
  display: grid;
  grid-template-columns: repeat(4,minmax(250px,1fr));
  gap: 16px;
  margin-top: 20px;
}

@media (max-width:768px) {
  .containerCard{
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));

  }
}
